<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--Spring.Net配置-->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="MSSQLSERVER" connectionString="Data Source =.;Initial Catalog =ItcastCms;Integrated Security =True; Pooling =True" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--Spring.Net配置-->
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects>
      <object  type="BlangenOA.QuartzNet.IndexJob, BlangenOA.QuartzNet" singleton="false" >
        <property name="KeyWordsRankBll" ref="KeyWordsRankBll" />
      </object>
      <object name="KeyWordsRankBll" type="BlangenOA.BLL.KeyWordsRankBll, BlangenOA.BLL" singleton="false" >
      </object>
    </objects>
  </spring>
</configuration>